## Unindo os dados de Acidentes e Veículos

In [7]:
# Carregando as bibliotecas
import pandas as pd

In [8]:
# Lendo a Base de acidentes
Base_Acidentes=pd.read_excel('Base_Acidentes.xlsx')
Base_Acidentes= Base_Acidentes.rename(columns=lambda x: x.strip() if isinstance(x, str) else x)
print(Base_Acidentes)

          NUMERO_BOLETIM   DATA HORA_BOLETIM                   COORDENADA  \
0     2017-034438990-001 2017-11-11 17:38:00  -19.920010348,-43.940256854
1     2017-034512721-001 2017-11-12 09:29:00  -19.917797895,-43.930673168
2     2017-035699720-001 2017-11-20 09:43:00  -19.917583385,-43.934223834
3     2017-035769564-001 2017-11-20 17:31:00  -19.921013321,-43.944665907
4     2017-035778537-001 2017-11-20 17:07:00  -19.917302950,-43.935374903
...                  ...                 ...                          ...
1629  2019-055674489-001 2019-11-12 17:03:00  -19.916618722,-43.943470312
1630  2019-055802785-001 2019-11-13 10:39:00  -19.914757805,-43.934664832
1631  2019-055876803-001 2019-11-13 17:35:00  -19.914836098,-43.941116930
1632  2019-038564310-001 2019-08-11 20:47:00  -19.916010873,-43.940565520
1633  2019-038763333-001 2019-08-12 18:46:00  -19.913434377,-43.942356819

      MÊS  HORA
0      11    17
1      11     9
2      11     9
3      11    17
4      11    17
...   ...   ...
1629   11    17
1630   11    10
1631   11    17
1632    8    20
1633    8    18

[1634 rows x 5 columns]

In [9]:
# Criando uma coluna data na Base de Acidentes
Base_Acidentes['DATA'] = pd.to_datetime(Base_Acidentes['DATA HORA_BOLETIM']).dt.date
Base_Acidentes=Base_Acidentes.drop(columns=['DATA HORA_BOLETIM'])
print(Base_Acidentes)

          NUMERO_BOLETIM                   COORDENADA  MÊS  HORA        DATA
0     2017-034438990-001  -19.920010348,-43.940256854   11    17  2017-11-11
1     2017-034512721-001  -19.917797895,-43.930673168   11     9  2017-11-12
2     2017-035699720-001  -19.917583385,-43.934223834   11     9  2017-11-20
3     2017-035769564-001  -19.921013321,-43.944665907   11    17  2017-11-20
4     2017-035778537-001  -19.917302950,-43.935374903   11    17  2017-11-20
...                  ...                          ...  ...   ...         ...
1629  2019-055674489-001  -19.916618722,-43.943470312   11    17  2019-11-12
1630  2019-055802785-001  -19.914757805,-43.934664832   11    10  2019-11-13
1631  2019-055876803-001  -19.914836098,-43.941116930   11    17  2019-11-13
1632  2019-038564310-001  -19.916010873,-43.940565520    8    20  2019-08-11
1633  2019-038763333-001  -19.913434377,-43.942356819    8    18  2019-08-12

[1634 rows x 5 columns]

In [10]:
# Lendo a Base de veículos
Base_Veículos=pd.read_excel('Base_Veículos.xlsx')
Base_Veículos.columns

Index(['NUMERO_BOLETIM', 'BICICLETA', 'MOTOCICLETA', 'AUTOMOVEL', 'CAMINHAO',
       'ONIBUS'],
      dtype='object')

In [11]:
# Mesclando os Data Frames
Base_Acd_Vec = pd.merge(Base_Acidentes, Base_Veículos, on ='NUMERO_BOLETIM', how='inner')

# A interseção irá retornar apenas as ocorrências no Centro em que os veículos envolvidos estão entre as categorias definidas
print(Base_Acd_Vec)

          NUMERO_BOLETIM                   COORDENADA  MÊS  HORA        DATA  \
0     2017-034438990-001  -19.920010348,-43.940256854   11    17  2017-11-11
1     2017-034512721-001  -19.917797895,-43.930673168   11     9  2017-11-12
2     2017-035699720-001  -19.917583385,-43.934223834   11     9  2017-11-20
3     2017-035769564-001  -19.921013321,-43.944665907   11    17  2017-11-20
4     2017-035778537-001  -19.917302950,-43.935374903   11    17  2017-11-20
...                  ...                          ...  ...   ...         ...
1622  2019-055674489-001  -19.916618722,-43.943470312   11    17  2019-11-12
1623  2019-055802785-001  -19.914757805,-43.934664832   11    10  2019-11-13
1624  2019-055876803-001  -19.914836098,-43.941116930   11    17  2019-11-13
1625  2019-038564310-001  -19.916010873,-43.940565520    8    20  2019-08-11
1626  2019-038763333-001  -19.913434377,-43.942356819    8    18  2019-08-12

      BICICLETA  MOTOCICLETA  AUTOMOVEL  CAMINHAO  ONIBUS
0             0            0          1         0       0
1             0            0          2         0       0
2             0            0          0         0       1
3             0            1          1         0       0
4             0            1          1         0       0
...         ...          ...        ...       ...     ...
1622          0            0          0         0       1
1623          0            1          1         0       0
1624          0            0          0         0       1
1625          0            0          1         0       0
1626          0            1          1         0       0

[1627 rows x 10 columns]

In [12]:
Base_Acd_Vec.to_excel('Base_Acd_Vec.xlsx')