## Unindo os dados de Acidentes e Veículos com os dados Metereológicos

In [7]:
# Carregando as bibliotecas
import pandas as pd

In [8]:
# Lendo a Base de Acidentes e Veículos
Base_Acd_Vec = pd.read_excel('Base_Acd_Vec.xlsx')
print(Base_Acd_Vec)

      Unnamed: 0      NUMERO_BOLETIM                   COORDENADA  MÊS  HORA  \
0              0  2017-034438990-001  -19.920010348,-43.940256854   11    17
1              1  2017-034512721-001  -19.917797895,-43.930673168   11     9
2              2  2017-035699720-001  -19.917583385,-43.934223834   11     9
3              3  2017-035769564-001  -19.921013321,-43.944665907   11    17
4              4  2017-035778537-001  -19.917302950,-43.935374903   11    17
...          ...                 ...                          ...  ...   ...
1622        1622  2019-055674489-001  -19.916618722,-43.943470312   11    17
1623        1623  2019-055802785-001  -19.914757805,-43.934664832   11    10
1624        1624  2019-055876803-001  -19.914836098,-43.941116930   11    17
1625        1625  2019-038564310-001  -19.916010873,-43.940565520    8    20
1626        1626  2019-038763333-001  -19.913434377,-43.942356819    8    18

           DATA  BICICLETA  MOTOCICLETA  AUTOMOVEL  CAMINHAO  ONIBUS
0    2017-11-11          0            0          1         0       0
1    2017-11-12          0            0          2         0       0
2    2017-11-20          0            0          0         0       1
3    2017-11-20          0            1          1         0       0
4    2017-11-20          0            1          1         0       0
...         ...        ...          ...        ...       ...     ...
1622 2019-11-12          0            0          0         0       1
1623 2019-11-13          0            1          1         0       0
1624 2019-11-13          0            0          0         0       1
1625 2019-08-11          0            0          1         0       0
1626 2019-08-12          0            1          1         0       0

[1627 rows x 11 columns]

In [9]:
# Lendo a Base dos dados Metereológicos
Base_Metereológicos=pd.read_excel('Base_Metereológicos.xlsx')
print(Base_Metereológicos)

       Unnamed: 0        DATA CHUVA (mm)  HORA
0               0  01/01/2017        0,0    21
1               1  01/01/2017        0,0    22
2               2  01/01/2017        0,0    23
3               3  01/01/2017        0,0     0
4               4  01/01/2017        0,0     1
...           ...         ...        ...   ...
26275        8755  31/12/2019        0,0    16
26276        8756  31/12/2019        0,0    17
26277        8757  31/12/2019        0,0    18
26278        8758  31/12/2019        0,0    19
26279        8759  31/12/2019        0,0    20

[26280 rows x 4 columns]

In [10]:
# Organizando o data frame da Base de dados Metereológicos
Base_Metereológicos = Base_Metereológicos.drop(columns=['Unnamed: 0'])
Base_Metereológicos['DATA'] = pd.to_datetime(Base_Metereológicos['DATA'], format='%d/%m/%Y')
print(Base_Metereológicos)

            DATA CHUVA (mm)  HORA
0     2017-01-01        0,0    21
1     2017-01-01        0,0    22
2     2017-01-01        0,0    23
3     2017-01-01        0,0     0
4     2017-01-01        0,0     1
...          ...        ...   ...
26275 2019-12-31        0,0    16
26276 2019-12-31        0,0    17
26277 2019-12-31        0,0    18
26278 2019-12-31        0,0    19
26279 2019-12-31        0,0    20

[26280 rows x 3 columns]

In [11]:
# Mesclando os dois data frames 
Base_Acd_Vec_Met = pd.merge(Base_Acd_Vec, Base_Metereológicos, on=['DATA', 'HORA'], how='inner')
print(Base_Acd_Vec_Met)

      Unnamed: 0      NUMERO_BOLETIM                   COORDENADA  MÊS  HORA  \
0              0  2017-034438990-001  -19.920010348,-43.940256854   11    17
1              1  2017-034512721-001  -19.917797895,-43.930673168   11     9
2              2  2017-035699720-001  -19.917583385,-43.934223834   11     9
3              3  2017-035769564-001  -19.921013321,-43.944665907   11    17
4              4  2017-035778537-001  -19.917302950,-43.935374903   11    17
...          ...                 ...                          ...  ...   ...
1622        1621  2019-055538489-001  -19.915230923,-43.940353471   11     0
1623        1622  2019-055674489-001  -19.916618722,-43.943470312   11    17
1624        1623  2019-055802785-001  -19.914757805,-43.934664832   11    10
1625        1624  2019-055876803-001  -19.914836098,-43.941116930   11    17
1626        1625  2019-038564310-001  -19.916010873,-43.940565520    8    20

           DATA  BICICLETA  MOTOCICLETA  AUTOMOVEL  CAMINHAO  ONIBUS  \
0    2017-11-11          0            0          1         0       0
1    2017-11-12          0            0          2         0       0
2    2017-11-20          0            0          0         0       1
3    2017-11-20          0            1          1         0       0
4    2017-11-20          0            1          1         0       0
...         ...        ...          ...        ...       ...     ...
1622 2019-11-12          0            2          0         0       0
1623 2019-11-12          0            0          0         0       1
1624 2019-11-13          0            1          1         0       0
1625 2019-11-13          0            0          0         0       1
1626 2019-08-11          0            0          1         0       0

     CHUVA (mm)
0           0,0
1           0,0
2           0,0
3           0,0
4           0,0
...         ...
1622        0,0
1623        0,0
1624        0,0
1625        0,0
1626        0,0

[1627 rows x 12 columns]

In [12]:
# Eliminando a coluna unnamed 
Base_Acd_Vec_Met=Base_Acd_Vec_Met.drop(columns=['Unnamed: 0'])

In [13]:
# Dividindo a coluna de coordenadas em LAT e LONG
Base_Acd_Vec_Met['LATITUDE'] = Base_Acd_Vec_Met['COORDENADA'].apply(lambda x: float(x.split(',')[0]))
Base_Acd_Vec_Met['LONGITUDE'] = Base_Acd_Vec_Met['COORDENADA'].apply(lambda x: float(x.split(',')[1]))
print(Base_Acd_Vec_Met)

          NUMERO_BOLETIM                   COORDENADA  MÊS  HORA       DATA  \
0     2017-034438990-001  -19.920010348,-43.940256854   11    17 2017-11-11
1     2017-034512721-001  -19.917797895,-43.930673168   11     9 2017-11-12
2     2017-035699720-001  -19.917583385,-43.934223834   11     9 2017-11-20
3     2017-035769564-001  -19.921013321,-43.944665907   11    17 2017-11-20
4     2017-035778537-001  -19.917302950,-43.935374903   11    17 2017-11-20
...                  ...                          ...  ...   ...        ...
1622  2019-055538489-001  -19.915230923,-43.940353471   11     0 2019-11-12
1623  2019-055674489-001  -19.916618722,-43.943470312   11    17 2019-11-12
1624  2019-055802785-001  -19.914757805,-43.934664832   11    10 2019-11-13
1625  2019-055876803-001  -19.914836098,-43.941116930   11    17 2019-11-13
1626  2019-038564310-001  -19.916010873,-43.940565520    8    20 2019-08-11

      BICICLETA  MOTOCICLETA  AUTOMOVEL  CAMINHAO  ONIBUS CHUVA (mm)  \
0             0            0          1         0       0        0,0
1             0            0          2         0       0        0,0
2             0            0          0         0       1        0,0
3             0            1          1         0       0        0,0
4             0            1          1         0       0        0,0
...         ...          ...        ...       ...     ...        ...
1622          0            2          0         0       0        0,0
1623          0            0          0         0       1        0,0
1624          0            1          1         0       0        0,0
1625          0            0          0         0       1        0,0
1626          0            0          1         0       0        0,0

       LATITUDE  LONGITUDE
0    -19.920010 -43.940257
1    -19.917798 -43.930673
2    -19.917583 -43.934224
3    -19.921013 -43.944666
4    -19.917303 -43.935375
...         ...        ...
1622 -19.915231 -43.940353
1623 -19.916619 -43.943470
1624 -19.914758 -43.934665
1625 -19.914836 -43.941117
1626 -19.916011 -43.940566

[1627 rows x 13 columns]

In [14]:
# Exportando a base final
Base_Acd_Vec_Met.to_excel('Base_Acd_Vec_Met.xlsx')